<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add_class">添加</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>班级名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {%for row in class_list%}
    <tr>
       <th>{{row.id}}</th>
       <th>{{row.class_name}}</th>
       <th>
           <a href="/del_class/?nid={{row.id}}">删除</a>
           |
           <a href="/edit_class/?nid={{row.id}}">编辑</a>
       </th>
    </tr>
    {%endfor%}
    </tbody>
</table>
</body>
</html>