<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/plug/bootstrap-3/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/plug/font-awesome-4/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/common.css" />
    {% block css %} {% endblock %}
</head>
<body>
    <div class="pg-header">
        <div class="logo">小方的窝</div>
        <div class="avatar">
<!--            <img  src="/static/image/1.jpg">-->
            <i class="fa fa-home fa-3x fa-spin"></i>
            <div class="user-info">
                <a>个人信息</a>
                <a>设置</a>
                <a>注销</a>
            </div>
        </div>
        <div class="f_nav">
            <a href=""><i class="fa fa-home"></i>帖子</a>
            <a href=""><i class="fa fa-file-text-o"></i>文章</a>
            <a href=""><i class="fa fa-image"></i>图片</a>
            <a href=""><i class="fa fa-bank"></i>我的</a>
        </div>
    </div>

    <div class="pg-body">
        <div class="menus">
            <a >班级管理</a>
            <a >学生管理</a>
            <a >老师管理</a>
        </div>
        <div class="content">
            <div>
               <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Library</a></li>
                  <li class="active">Data</li>
                </ol>
            </div>
            <div style="margin: 0 auto;width: 700px">
                {% block content %} {% endblock %}
            </div>
        </div>

    </div>
        {% block js%} {% endblock %}
</body>
</html>