{% extends 'index.html' %}

{% block content%}
    <div style="margin: 10px 0">
        <a href="/add_student" class="btn btn-primary">添加学生</a>
        <a id="ShowModal" class="btn btn-info">对话框添加</a>
    </div>
    <table border="1" class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>学生名称</th>
            <th>班级名称</th>
            <th>操作</th>
            <th>对话框操作</th>
        </tr>
        </thead>
        <tbody>
        {%for row in stu_list%}
        <tr>
           <th>{{row.id}}</th>
           <th>{{row.stu_name}}</th>
           <th c_id="{{row.class_id}}">{{row.class_name}}</th>
           <th>
               <a href="/del_student/?nid={{row.id}}">删除</a>
               |
               <a href="/edit_student/?nid={{row.id}}">编辑</a>
           </th>
            <th>
               <a onclick="showEditStudent(this);">对话框编辑</a>
           </th>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}
{% block js%}
<div id="shadow" class="f_shadow f_hide"></div>
<!--    AddModalStudent-->
    <div id="modal" class="f_modal f_hide">
            <span id="errormsg" class="f_hide"></span>
            <p>学生姓名：
                <input id="stu_name_add" type="text" required="required">
            </p>
            <p>班级：
                <select id="class_id_add" >
                    {%for row in class_list%}
                    <option value="{{row.id}}">{{row.class_name}}</option>
                    {%endfor%}
                </select>
            </p>
            <input id="AjaxSend"   type="button" value="提交" >
            <input id="CanelModal" type="button" value="取消">
    </div>
<!--    EditModalStudent-->
    <div id="EditSrudentModal" class="f_modal f_hide">
        <span id="errormsg" class="f_hide"></span>
        <p>学生姓名：
            <input id="stu_name_edit" type="text" required="required" placeholder="姓名">
            <input id="stu_id_edit" type="text" style="display: none">
        </p>
        <p>班级：
            <select id="class_id_edit">
                {%for row in class_list%}
                <option value="{{row.id}}">{{row.class_name}}</option>
                {%endfor%}
            </select>
        </p>
        <input id="AjaxSendEdit"   type="button" value="提交" >
        <input id="CanelModal" type="button" value="取消">
    </div>
     <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--    AddModalStudent-->
        <script>
            $('#ShowModal').click(function(){
                document.getElementById('shadow').classList.remove('f_hide');
                document.getElementById('modal').classList.remove('f_hide');
            });
            $('#CanelModal,#shadow').click(function(){
                $('#errormsg,#shadow,#modal,#EditSrudentModal').addClass('f_hide');
            });
            $('#AjaxSend').click(function () {
                let stu_name = $('#stu_name_add').val();
                let class_id = $('#class_id_add option:selected').val();

                console.log(stu_name,class_id)
                 $.ajax({
                    url:'/add_student_m/',
                    type:'POST',
                    data:{'stu_name_add': stu_name, 'class_id_add': class_id},
                    success:function (arg) {
                        arg = JSON.parse(arg);
                        if(arg.status)
                            location.reload();
                        else {
                            $('#errormsg').removeClass('hide');
                            $('#errormsg').text(arg.message);
                        }

                    }
                })
            })
        </script>
    <!--    EditModalStudent-->
    <script>
        function showEditStudent(ths){
            $('#shadow,#EditSrudentModal').removeClass('f_hide');

            let v = $(ths).parent().prevAll();
            let stu_id = $(v[3]).text();
            let stu_name = $(v[2]).text();
            //那自定义属性的值用attr(self_class_name)
            let c_id = $(v[1]).attr('c_id');
            console.log(stu_name,stu_id,c_id);
            $('#stu_name_edit').val(stu_name);
            $('#stu_id_edit').val(stu_id);
            $('#class_id_edit').val(c_id);
        }

        $('#AjaxSendEdit').click(function () {
            let stu_id = $('#stu_id_edit').val();
            let stu_name = $('#stu_name_edit').val();
            let class_id =  $('#class_id_edit').val();
            $.ajax({
                    url:'/edit_student_m/',
                    type:'POST',
                    data:{'stu_id':stu_id, 'stu_name': stu_name, 'class_id': class_id},
                    success:function (arg) {
                        arg = JSON.parse(arg);
                        if(arg.status)
                            location.reload();
                        else {
                            $('#errormsg').removeClass('hide');
                            $('#errormsg').text(arg.message);
                        }

                    }
                })
        })
    </script>
{%endblock%}
