<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师信息表</title>
    <link rel="stylesheet" href="/static/plug/bootstrap-3/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/plug/bootstrap-3/js/bootstrap.js" />
    <link rel="stylesheet" href="/static/common.css" />
</head>
<body>
    <div style="margin: 0 auto;width: 700px">
        <h1>教师信息</h1>
        <div style="margin: 10px 0">
            <a href="/add_teacher" class="btn btn-primary">添加教师</a>
            <a onclick="showModal();" class="btn btn-info">对话框添加教师</a>
        </div>
        <table border="1" class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>操作</th>
                <th>对话框操作</th>
            </tr>
            </thead>
            <tbody>
            {%for row in th_list%}
            <tr>
                <th>{{row.id}}</th>
                <th>{{row.th_name}}</th>
                <th>
                    <a href="/del_teacher/?nid={{row.id}}">删除</a>
                    |
                    <a href="/edit_teacher/?nid={{row.id}}&th_name={{row.th_name}}">编辑</a>
                </th>
                <th>
                   <a onclick="showEditTeacher(this);">对话框编辑</a>
                </th>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
    <div id="shadow" class="f_shadow f_hide" onclick="CanelModal();"></div>
    <div id="modal" class="f_modal f_hide">
        <form method="POST" action="/add_teacher_m/">
            <span id="errormsg" class="hide"></span>
            <p>
                <input id="th_name" type="text" required="required">
            </p>
            <input type="button" value="提交" onclick="AjaxSend();">
            <input type="button" value="取消" onclick="CanelModal();">
        </form>
    </div>

    <div id="EditTeacherModal" class="f_modal f_hide">
        <p><input  id="EditTeacherName" type="text" required="required" ></p>
        <p><input  id="EditTeacherId" type="text" hidden="hidden" ></p>
        <input type="button" value="提交" onclick="SendEditTeacher();">
        <input type="button" value="取消" onclick="CanelModal();">
    </div>

<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!--    addModalTeacher-->
    <script>
        function showModal() {
            document.getElementById('shadow').classList.remove('f_hide');
            document.getElementById('modal').classList.remove('f_hide');
        }
        function CanelModal() {
            document.getElementById('shadow').classList.add('f_hide');
            document.getElementById('modal').classList.add('f_hide');
            document.getElementById('EditTeacherModal').classList.add('f_hide');
            document.getElementById('errormsg').classList.add('f_hide');
        }
        function AjaxSend() {
            $.ajax({
                url:'/add_teacher_m/',
                type:'POST',
                data:{'th_name': $('#th_name').val()},//将data数据以POST方式发送到指定的url中
                success:function (arg) {  //后端处理完后自动执行这个函数，并返回新data
                    arg = JSON.parse(arg);
                    if(arg.status){
                        location.reload();
                    }
                    else {
                        $('#errormsg').text(arg.message)
                    }

                }
            })

        }
    </script>

<!--    editModalTeacher-->
    <script>
        function showEditTeacher(ths) {
            document.getElementById('shadow').classList.remove('f_hide');
            document.getElementById('EditTeacherModal').classList.remove('f_hide');
            let v = $(ths).parent().prevAll();
            $('#EditTeacherName').val($(v[1]).text())
            $('#EditTeacherId').val($(v[2]).text())
        }
        function SendEditTeacher() {
            let nid=$('#EditTeacherId').val();
            let th_name=$('#EditTeacherName').val();
            $.ajax({
                url:'/edit_teacher_m/',
                type:'POST',
                data:{'nid':nid,'th_name':th_name},
                success: function (arg) {
                    //JSON.parse(str)-->对象
                    //JSON.stringify(对象)-->str
                    arg = JSON.parse(arg);
                    if(arg.status){
                      //  location.href='/class/'; //跳转到指定url
                        location.reload(); //当前页面刷新
                    }
                    else {
                        alert(arg.message)
                    }
                }
            })
        }
    </script>
</body>
</html>