.f_hide{
    display: none;
}
.f_shadow{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: black;
    z-index: 999;
}
.f_loading2{
    position: fixed;
    left: 50%;
    top: 50%;
    height: 480px;
    width: 640px;
    margin-left: -240px;
    margin-top: -320px;
    background-image: url("/static/images/loading.gif");
}
.f_modal{
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    height: 300px;
    width: 400px;
    background-color: white;
    margin-left: -200px;
    margin-top: -250px;
}